<h1>The missing teachers</h1>

<!-- new teacher (weird name) -->
<!-- coding catastrophy -->
<!-- time of year -->
<!-- Programming language -->
<!-- Person1 -->
<!-- Hobby -->

<p>It was dead of @Model.TimeOfYear, when it happened at epicodus.</p>
<p>All of the class had just begun the day, when @Model.CodingCatastrophy! Brooke and Travis were no where to be found..</p>
<p>What happened to the teachers!? @Model.StudentName exlaimed</p>
<p>There was only onechance to rectify this issue. And it had to be done by DR. @Model.WeirdName, coding master and @Model.Hobby specialist.</p>
<p>They apeard after epicodus outcry. "The solution to this issue is coding in @Model.ProgrammingLang!"</p>
<p>the class was saved, lives were saved. The world had been rescued from @Model.CodingCatastrophy.</p>
<p>Or was it .....</p>

 