<h1>A long day at home</h1>
<p>@Model.Name had a woken up with a sore throught this morning. They decided to call in sick and work from home.</p>
<p>Who knew @Model.Name would have been so lonely! THey started to really miss their classmates</p>
<p>By the end of the work daty, @Model.Name looked into the mirror preparing to bruch their teeth.</p>
<p>"WHOA" @Model.Name said. They looked into the mirror and they have turned into an</p> 
<p>@Model.Animal!</p>
<p>"I must be going crazy" @Model.Name said.</p>
<p>"Im not an @Model.Animal!"</p>
<p>@Model.Name went to bed and turned back to normal.</p>
<p>The end.</p>